body {
    margin: 0;
    padding: 10px;
    
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    letter-spacing: -1px;
    word-spacing: 0.8px;
    color: #000000;
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

img {
    width: 150px;
}
